* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container {
    background-color: #FFFFFF;
    border-bottom: #F1F4F7;
    outline: #F1F4F7 solid 2px;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    padding-top: 10px;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: bold;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
}

.action-btn {
    background-color: orange;
    color: rgba(0, 0, 0, .55);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s;
}

.action-btn:hover {
    scale: 1.05;
    color: #fff;
}

.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdown_menu li {
    padding: 0.6rem;
    display: flex;
    justify-content: center;
}

.dropdown_menu .active {
    padding: 0.6rem;
    width: 100px;
    display: flex;
    justify-content: center;
}

@media (max-width: 980px) {
    .navbar .links, .navbar .active {
        display: none;
    }
}

.navbar .toggle_btn {
    display: block;
}