@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+Arabic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Noto Sans Arabic", sans-serif;


}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    color: #333;
}

h1 {
    color: #333
}

/*HEADER*/

header {
    background-color: #fff;
    border-bottom: 1px solid #f2f4f7;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0%;
    right: 0%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}


.navbar {
    display: flex;
    padding: 0.7rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}

.nav-links {
    display: flex;

}

.links {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    transition: transform 0.2s ease, background 0.2s ease;

}

.links a:hover {
    transform: scale(1.1);
    color: #0d6efd;
}

.links a {
    display: block;
    padding: 12px 16px;
}


.toggler {
    color: #333;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;

}

.nav-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    border-top: 1px solid #f2f4f7;
    background: #fff;
    display: none;
}

.nav-overlay.active {
    display: block;
}

.nav-overlay-items {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


/* BUTTONS-CSS */
.action-button {
    color: #333;
    text-align: center;
    white-space: nowrap;
    background-color: #f5b501;
    border: 1px #7f56d9;
    border-radius: 8rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    box-shadow: 0 1px 2px #1018280d;

}

.login {
    color: #333;
    text-align: center;
    white-space: nowrap;
    background-color: white;
    border: 1px #333 solid;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    box-shadow: 0 1px 2px #1018280d;
}


.action-button:hover {
    background-color: #0d6efd;
    color: white;
}

.overlay-button {
    width: 80%;
    display: block;
}

.overlay-button a:hover {
    color: white;
}

/*hero-content*/
.container .container {
    height: 100vh;
}

.hero-content {
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    display: flex;

}

.hero-h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: -2px;
    font-size: 4rem;
    line-height: 1.2;
}

.hero-p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 130%;
}


.sign-up {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    color: #000;
    text-align: center;
    letter-spacing: -.4px;
    border-radius: 100px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    transition: all .2s;
    display: inline-flex;
}

.sign-up:hover {
    transform: scale(1.05);
}

.hero-menu {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero-menu-items:hover {
    transform: scale(1.05);
}

.hero-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image {
    width: 800px;
    height: 400px;
    border-radius: 40px;
}


@media (max-width: 960px) {
    .nav-links {
        display: none;
    }

    .action-buttons .login {
        display: none;
    }

}

@media (min-width: 960px) {
    .toggler {
        display: none;
    }

    .nav-overlay {
        display: none;
    }
}


