* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

a:hover {
    color: orange;
}

/*HEADER*/

header {
    background-color: #fff;
    border-bottom: 1px solid #f2f4f7;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0%;
    right: 0%;
}

.container {
    padding: 0.7rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    min-height: 99%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.navbar {
    display: flex;
    gap: 2rem;
}

.logo {


}

.nav-links {
    display: flex;

}

.links {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    transition: transform 0.2s ease, background 0.2s ease;

}

.links:hover {
    transform: scale(1.1);
}

.links a {
    display: block;
    padding: 12px 16px;
}

.navbar-toggler {
    display: flex;
    align-items: center;
}

.navbar-toggler .toggler {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.navbar-toggler .toggler:hover {
    color: orange;
}


.nav-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    border-top: 1px solid #f2f4f7;
    background: #fff;
    display: none;
}

.nav-overlay.active {
    display: block;
}

.nav-overlay-items {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


/* CSS */
.action-button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 1.2rem;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8rem;
    will-change: transform, opacity;
    z-index: 0;
}

.button-17:hover {
    background: #F6F9FE;
    color: orange;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid orange;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.nav-overlay-items .active-button {
    width: 80vh;
}

@media (max-width: 960px) {
    .nav-links {
        display: none;
    }

    .login {
        display: none;
    }

}

@media (min-width: 960px) {
    .navbar-toggler .toggler {
        display: none;
    }

    .nav-overlay.active {
        display: none;

    }

}


