<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Home {% endblock %}</title>

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- ========================= header start ========================= -->
<header>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <button class="toggler" type="button" id="menu-btn">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <a href="/"><img src="{{ url_for('static', filename='img/backpack4-fill.svg') }}" alt="logo"></a>
            </div>
            <div class="nav-links">
                <li class="links"><a href="/">الرئيسية</a></li>
                <li class="links"><a href="#">تعقب الوظيف</a></li>
                <li class="links"><a href="#">إنشاء سيرة ذاتية</a></li>
            </div>
            <div class="action-buttons">
                <a class="action-button" href="/sing-up">تسجيل</a>
                <a class="action-button login" href="/login">دخول</a>
            </div>
        </div>
        <div class="nav-overlay">
            <div class="nav-overlay-items ">
                <li class="links"><a href="/">الرئيسية</a></li>
                <li class="links"><a href="#">تعقب الوظيف</a></li>
                <li class="links"><a href="#">إنشاء سيرة ذاتية</a></li>
                <li class="action-button login overlay-button "><a href="/login">دخول</a></li>
            </div>
        </div>
    </div>
</header>
<!-- ========================= hero-section start ========================= -->
<section class="hero-section">
    <div class="container hero">
        <div class="hero-content">
            <h1 class="hero-h1">ابنِ سيرتك الذاتية <br>واحصل على مقابلات عمل أكثر بـ 6 مرات</h1>
            <p class="hero-p">أنشئ سيرة ذاتية احترافية ومتوافقة مع أنظمة تتبّع المتقدمين (ATS) خلال دقائق باستخدام أداة
                إنشاء السير الذاتية المجانية من WEBSITE. يمكنك إنشاء عدد غير محدود من السير الذاتية المخصصة لكل وظيفة
                تتقدم لها.</p>
            <a class="action-button sign-up" href="/sign-up">أنشئ حسابك الآن! — مجاني %100</a>
        </div>
        <div class="hero-menu">
            <a class="hero-menu-items" href="#">تعقب الوظيفك</a>
            <a class="hero-menu-items" href="#">إنشاء سيرة ذاتية</a>
        </div>

        <div class="hero-images">
            <img class="hero-image" src="{{ url_for('static', filename='img/hero-image.png') }}" alt="hero-image">
        </div>
    </div>
</section>
<!-- ========================= features-section start ========================= -->
<section id="features">
    <div class="container features">
        <div class="box">
            <h3>تعقب الوظيفك</h3>

        </div>
        <div class="box">
            <h3>تعقب الوظيفك</h3>

        </div>
        <div class="box">
            <h3>تعقب الوظيفك</h3>

        </div>
        <div class="box">
            <h3>تعقب الوظيفك</h3>

        </div>
    </div>
</section>
<script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
></script>
</body>
<!--</html>-->
<!--            <h3>تعقب الوظيفك</h3>-->
<!--            <h2>منصة واحدة لتنظيم وإدارة رحلتك في البحث عن وظيفة</h2>-->
<!--            <p>إدارة وتتبع جميع فرصك الوظيفية بسهولة من منصة واحدة. احفظ الوظائف من مختلف مواقع التوظيف عبر إضافة Teal-->
<!--                لمتصفح Chrome لتوفر وقتك وتحافظ على تنظيمك</p>-->
<!--            <a class="action-button sign-up" href="/sign-up">ابدأ التنظيم الآن</a>-->