{% extends "auth_base.html" %}

{% block form_content %}

<h1 class="auth-title">تغيير كلمة السر</h1>

<form class="form-control" method="post">

    <label for="email" class="display-none">البريد الإلكتروني</label>
    <input
            id="email"
            class="auth-input"
            type="email"
            name="email"
            placeholder="عنوان البريد الإلكتروني"
            required>

</form>

<p>هل لديك حساب؟ </p>
<a class="auth-link" href="/login">سجّل الدخول</a>

{% endblock %}