{% extends "auth_base.html" %}

{% block form_content %}

<h1 class="auth-title">ادخل بالبريد الإلكتروني</h1>
<p class="auth-message">سنرسل لك رابط دخول فوري — بدون كلمة مرور</p>
<form class="form-control" action="{{ url_for('auth.register') }}" method="POST">
    <label for="email" class="display-none">البريد الإلكتروني</label>
    <input
            id="email"
            class="auth-input"
            type="email"
            name="email"
            placeholder="عنوان البريد الإلكتروني"
            required>
    <button class="auth-btn" type="submit">
        تسجيل الدخول
    </button>
</form>
<p class="error-msg">{{error_message}}</p>
<p> بالمتابعة توافق على <span class="teal">شروط الاستخدام وسياسة الخصوصية</span></p>

{% endblock %}
